<h1>Create a Article</h1>
<div class="container d-flex justify-content-center">
  <%= form_for(@article) do |f| %>
    <p>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %>
      <br>
      <%= f.text_area(:content, :size => "100x10") %>
    </p>
    <%= f.submit %>
  <% end %>
</div>
